

*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

.purchase {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 800px) {
  .page_top {
    display: none;
  }
}

.page_top_button {
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.page_top_button:first-of-type {
  margin-left: auto;
}

@media (max-width: 800px) {
  .ul {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }
}

.top-text-1 {
  margin-bottom: 50px;
  font-size: 24px;
}

.table {
  margin-top: 100px;
}

.table-content {
  position: relative;
  left: 40px;
  margin-bottom: 30px;
  width: 85vw;
  border-width: 1px;
}

@media screen and (max-width: 600px) {
  .table-content{
    left: 20px;
  }
}

@media screen and (min-width: 800px){
  .table-content{
    position: relative;
    left: -20px;
  }
}

.table-tr {
  height: 60px;
  border-width: 1px;
}

.table-th {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.th-red {
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
}

.notice {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 75%;
}

.notice-li {
  margin-bottom: 20px;
  list-style-type: '※　'
}

.purchase {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}

.purchase-checkbox {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchase-text {
  margin-left: 15px;
}

.purchase-button {
  margin-top: auto;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 170px;
  min-width: 80px;
  cursor: pointer;
  border-radius: 60px;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
}

.checkbox{
  transform: scale(2);
}

.top-text-2-red{
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));	
}

.purchase-button-text {
  text-align: center;
  line-height: 50px;
  margin-right: 5px;
}

.purchase-bottom-text {
  margin-left: auto;
  margin-right: auto;
  width: 85vw;
}

.attention {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 70px;
}

.rights {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 30px;
}

.rights-text {
  margin-left: 20px;
  font-size: 24px;
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
}

.rights-box {
  margin-left: 20px;
}

.rights-li-top{
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  list-style-type: '※　';
}

.rights-li {
  margin-top: 30px;
  margin-bottom: 20px;
  list-style-type: '※　';
}

.contact {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 30px;
  margin-bottom: 100px;
}

.contact-text1 {
  margin-left: 20px;
  font-size: 24px;
  --tw-text-opacity: 1;
  color: rgba(248, 113, 113, var(--tw-text-opacity));
}

.contact-text2 {
  margin-top: 30px;
  margin-left: 20px;
}

.footer-button {
  position: relative;
  z-index: 4;
  margin-top: 100px;
  height: 44px;
  width: 313px;
  cursor: pointer;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  text-align: center;
  line-height: 44px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 800px){
  .footer-button{
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.c-top-scroll-btn{
  display: none;
}

.c-top-scroll-btn a{
  border-radius: 50%;
}

.has-before-icon :before{
  font-family: "Font Awesome 5 Free";
  content: "\f07a";
  color: white;
  font-weight: 900;
  padding-right: 10px;
}

.wp-block-media-text__content{
  margin-bottom: 60px;
}

.ml60{
  margin-left: 60px !important;
}

.minwidth100{
  min-width: 100px !important;
}

.padding_table{
  padding: 5px 10px !important;
}

.l-sidebar, .c-widgets{
  display: none;
}

.wp-block-flexible-table-block-table.wp-block-flexible-table-block-table>table tr td{
  border-color: #e5e7eb;
}

.pb30{
  padding-bottom: 30px;
}

.span-color{
  color: #d73200;
}

.table-left{
  width: 25% !important;
}

@media screen and (max-width: 490px){
  .table-left{
    width: 40% !important;
  }
}

.wp-block-button__link{
  pointer-events: none;
}

.pointer-events-none{
  pointer-events: none;
}

.pointer-events-on{
  pointer-events: auto !important;
}

.c-footer-cta__img{
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.c-footer-cta__p{
  margin-top: 40px;
  text-align: center;
}

.c-footer-cta__text{
  margin-top: 70px;
  margin-left: 10%;
  line-height: 40px;
}

.c-footer-cta-top{
  font-size: 24px;
  width: 500px;
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px){
  .c-footer-cta-top{
    padding-top: 60px;
    margin-top: 0;
  }
}
@media screen and (max-width: 490px){
  .c-footer-cta-top{
    font-size: 16px;
    width: 330px;
  }
}

.footer-button {
  margin-top: 80px;
  margin-left: 10%;
  z-index: 4;
  height: 44px;
  width: 313px;
  cursor: pointer;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  text-align: center;
  line-height: 44px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}

@media screen and (max-width: 900px){
  .footer-button{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 900px){
  .nav-link{
    padding: 1em !important;
  }
}