@charset "UTF-8";
/**
 * フロントページ以外で読み込まれるCSS
 */
.c-under-header__hr {
  display: block;
  width: 100%;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
  border-color: #F9F5F8;
}

/* レイアウト - フッター */
.footer-button {
  margin-top: 80px;
  margin-left: 10%;
  z-index: 4;
  height: 44px;
  width: 313px;
  cursor: pointer;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  text-align: center;
  line-height: 44px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 899.9px) {
  .footer-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* フッター上CTA */
.c-footer-cta__text {
  margin-top: 70px;
  margin-left: 10%;
  line-height: 40px;
}

.c-footer-cta-top {
  font-size: 24px;
  width: 500px;
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

@media screen and (max-width: 489.9px) {
  .c-footer-cta-top {
    font-size: 16px;
    width: 330px;
  }
}

@media screen and (max-width: 899.9px) {
  .c-footer-cta-top {
    padding-top: 60px;
    margin-top: 0;
  }
}
