@charset "UTF-8";

/**
 * フロントページのCSSを記述する
 */
/* ベース */
img {
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-top: 50px;
  margin-left: 10%;
  border-collapse: separate;
  border-spacing: 10px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 899.9px) {
  .body {
    font-size: 15px;
  }
}

@media (max-width: 599.9px) {
  body {
    width: 101vw;
  }
}

.movie-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-block-column h2 {
  text-align: center;
}

.wp-block-group h2 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
  flex-grow: 0.5;
}

.l-sidebar, aside, .c-breadcrumb, .p-article-date {
  display: none !important;
}

.copyright, .footer-sp, .l-main, .function_box, .top {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#features, .footer-pc {
  margin-bottom: 0 !important;
}

/* レイアウト */
/* レイアウト - ヘッダー */
@media screen and (min-width: 766.9px) {
  header.l-header {
    position: absolute;
    background-color: transparent;
    top: 20px;
  }
}

header.l-header a {
  color: white;
}

.l-header__inner {
  padding: 0 !important;
}

.l-header-logo--frontpage {
  margin-left: 40px !important;
}

.l-header--serial .l-header__description {
  position: absolute;
  z-index: 200;
  color: white;
}

/* ヘッダーのナビゲーション部分 */
.l-header-nav {
  align-items: center;
  margin-top: -30px;
}

.nav-link {
  padding: 1.5em !important;
}

@media screen and (max-width: 899.9px) {
  .nav-link {
    padding: 1em !important;
  }
}

@media screen and (min-width: 760px) {
  #menu-main {
    margin-top: -72px !important;
  }
}

@media screen and (min-width: 899.9px) {
  #menu-main {
    margin-top: -78px !important;
  }
}

/* ヘッダースクロールボタン */
#scroll-pc, #scroll-sp {
  height: 60px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#scroll-pc {
  position: relative;
  top: 85vh;
  display: block;
  width: 50px;
  padding-bottom: 15px;
  text-align: center;
  cursor: pointer;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 899.9px) {
  #scroll-pc {
    top: -5vh;
    display: none;
  }
}

#scroll-sp {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 100vh;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0 !important;
  margin-bottom: 70px !important;
  color: black;
  text-align: center;
  --tw-bg-opacity: 1;
  background-color: rgba(249, 246, 246, var(--tw-bg-opacity));
}

@media (min-width: 899.9px) {
  #scroll-sp {
    display: none;
  }
}

/* ファーストビューの設定 */
.p-fv {
  background-image: url('./../img/fv.jpg');
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 899.9px) {
  .p-fv {
    background-position-x: 50%;
  }
}

@media screen and (min-width: 899.9px) {
  .p-fv {
    margin-top: 0;
  }
}

.p-fv__wrapper {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-fv__box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 500px;
  max-height: 95vh;
  width: 250px;
  --tw-bg-opacity: 1;
  background-color: rgba(240, 39, 0, var(--tw-bg-opacity));
}

@media screen and (max-width: 766.9px) {
  .p-fv__box {
    top: 42.5vh;
    width: 150px;
    height: 300px;
    max-height: 55vh;
  }
}

.p-fv__phrase {
  z-index: 100;
  position: absolute;
  font-size: 1.5rem;
  color: #FFF;
  line-height: 3em;
  top: 150px;
  margin-left: 40px;
}

@media screen and (max-width: 899.9px) {
  .p-fv__phrase {
    font-size: 1.2rem;
    top: 35vh;
  }
}

@media screen and (max-width: 766.9px) {
  .p-fv__phrase {
    font-size: 1.2rem;
    top: 45vh;
  }
}

@media screen and (max-width: 599.9px) {
  .p-fv__phrase {
    font-size: 0.8rem;
    top: 50vh;
  }
}

/* レイアウト - フッター */
.footer-button {
  margin-top: 80px;
  margin-left: 10%;
  z-index: 4;
  height: 44px;
  width: 313px;
  cursor: pointer;
  border-radius: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  text-align: center;
  line-height: 44px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 899.9px) {
  .footer-button {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

/* フッター上CTA */
.c-footer-cta__text {
  margin-top: 70px;
  margin-left: 10%;
  line-height: 40px;
}

.c-footer-cta-top {
  font-size: 24px;
  width: 500px;
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

@media screen and (max-width: 489.9px) {
  .c-footer-cta-top {
    font-size: 16px;
    width: 330px;
  }
}

@media screen and (max-width: 899.9px) {
  .c-footer-cta-top {
    padding-top: 60px;
    margin-top: 0;
  }
}

/* コンポーネント */
/* コンポーネント - キャッチフレーズ */
#top-2-message {
  font-size: 27px;
  line-height: 39px;
}

@media (max-width: 899.9px) {
  #top-2-message {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 21px;
  }
}

@media (max-width: 489.9px) {
  #top-2-message {
    font-size: 15px;
  }
}

/* コンポーネント */
/* コンポーネント - 特徴 */
#features {
  margin-top: 100px;
  text-align: center;
}

#features-boxes-sp {
  margin-top: -1750px;
  margin-bottom: 0;
  --tw-bg-opacity: 1;
  padding-bottom: 1000px;
}

@media (min-width: 599.9px) {
  #features-boxes-sp {
    display: none;
  }
}

#features-boxes-md {
  margin-top: -1899.9px;
  margin-bottom: 0;
  --tw-bg-opacity: 1;
  padding-top: 20px;
}

@media (max-width: 599.9px) {
  #features-boxes-md {
    display: none !important;
  }
}

@media (min-width: 899.9px) {
  #features-boxes-md {
    display: none !important;
  }
}

.wp-block-columns.features-boxes-pc {
  margin-top: -1700px;
  margin-bottom: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1050px;
  display: flex;
  justify-content: center;
}

@media (max-width: 899.9px) {
  .features-boxes-pc {
    display: none !important;
  }
}

/* コンポーネント - スライダー */
.slick-prev, .slick-next {
  display: none !important;
}

.slick-dotted.slick-slider {
  margin-top: -1800px;
  margin-bottom: 0 !important;
  padding-bottom: 30px;
}

@media screen and (max-width: 899.9px) {
  .slick-dotted.slick-slider {
    padding-bottom: 1000px;
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 599.9px) {
  .slick-dotted.slick-slider {
    padding-bottom: 0px;
    margin-bottom: 150px !important;
  }
}

.slick-dots {
  display: flex;
  position: relative !important;
  top: 20px !important;
  justify-content: center;
  text-align: start;
}

.slick-dots li button {
  width: 0;
  padding: 0 !important;
  margin: 5px !important;
}

.slick-dots li button:before {
  content: '○' !important;
  font-size: 15px !important;
  ;
  position: relative !important;
  ;
  top: 7px !important;
  ;
}

.slick-dots li.slick-active button:before {
  background: #f72100;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}

.slick-slide {
  max-width: 75vw !important;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px !important;
  margin-right: 40px !important;
}

@media screen and (min-width: 899.9px) {
  .slick-slider {
    display: none !important;
  }
}

@media screen and (max-width: 599.9px){
  .slick-slide {
    max-width: 70vw !important;
  }
}

.slick-slide00, .slick-slide01, .slick-slide02 {
  padding-top: 53px;
  margin-right: 32px;
  margin-bottom: 0px;
  --tw-bg-opacity: 1;
  background-color: white;
}

/* コンポーネント - 機能の紹介 */
#function {
  margin-bottom: 95px;
  border-radius: 50px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-top: 36px;
  margin-bottom: 95px;
  border-radius: 50px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-top: 36px;
}

.functions {
  position: relative;
  z-index: 100;
  background-color: white;
  margin-top: -1000px !important;
  border-radius: 50px;
}

@media screen and (max-width: 899.9px) {
  .functions {
    margin-top: -1050px !important;
  }
}

@media screen and (max-width: 599.9px) {
  .functions {
    margin-top: -1100px !important;
  }
}

.functions-box-shadow{
  box-shadow: 2px 2px 4px #eae8e8 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.positionright {
  position: absolute !important;
  right: 57px !important;
}

@media screen and (max-width: 780px) {
  .positionright {
    right: 57px !important;
  }
}

/* 機能紹介の赤い帯部分 */
.function_red_right {
  display: none;
  margin-bottom: 150px;
  height: 500px;
  width: 5.8vw;
  --tw-bg-opacity: 1;
  background-color: rgba(240, 39, 0, var(--tw-bg-opacity));
}

.function_red_left {
  display: none;
  margin-bottom: 150px;
  height: 500px;
  width: 5.8vw;
  --tw-bg-opacity: 1;
  background-color: rgba(240, 39, 0, var(--tw-bg-opacity));
}

.bg-red-left {
  background: #e14c2f;
  position: absolute;
  left: 0;
  padding: 0 15vw;
  height: 600px;
  margin-top: -850px !important;
}

.bg-red-right {
  background: #e14c2f;
  position: absolute;
  right: 0;
  padding: 0 15vw;
  height: 600px;
  margin-top: -850px !important;
}

@media screen and (max-width: 899.9px) {
  .bg-red-left, .bg-red-right {
    display: none;
  }
}

.bg-red-left-md {
  background: #e14c2f;
  position: absolute;
  left: 0;
  padding: 0 15vw;
  height: 600px;
  margin-top: -850px !important;
}

.bg-red-right-md {
  background: #e14c2f;
  position: absolute;
  right: 0;
  padding: 0 15vw;
  height: 600px;
  margin-top: -850px !important;
}

@media screen and (max-width: 599.9px) {
  .bg-red-left-md, .bg-red-right-md {
    display: none;
  }
}

@media screen and (min-width: 899.9px) {
  .bg-red-left-md, .bg-red-right-md {
    display: none;
  }
}

.bg-red-left-sp {
  background: #e14c2f;
  position: absolute;
  left: 0;
  padding: 0 5vw;
  height: 600px;
  margin-top: -1000px !important;
}

.bg-red-right-sp {
  background: #e14c2f;
  position: absolute;
  right: 0;
  padding: 0 5vw;
  height: 600px;
  margin-top: -1000px !important;
}

@media screen and (min-width: 599.9px) {
  .bg-red-left-sp, .bg-red-right-sp {
    display: none;
  }
}

/* コンポーネント - サイトスピード */
#sitespeed {
  position: relative;
  z-index: 150;
  padding-bottom: 42px;
}

/* コンポーネント - デモサイト */
#demosite {
  padding-top: 63px;
  padding-bottom: 42px;
}

/* コンポーネント - FAQ */
#QA {
  margin-top: 46px;
  margin-bottom: 64px;
}

.smb-faq {
  margin-bottom: 50px;
}

.smb-faq__item__question__body, .smb-faq__item__answer__body {
  line-height: 36px;
  max-width: 899.9px;
  font-size: 18px !important;
}

.smb-faq__item__question, .smb-faq__item__answer {
  justify-content: center !important;
}

.smb-faq__item {
  border: 0px solid transparent;
  border-top: 0px solid transparent !important;
  padding-bottom: 0 !important;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* コンポーネント - 背景色のグレー部分 */
.bg-grey-pc {
  width: 100vw;
  margin-left: calc((1160px - 100vw) / 2);
  background-color: rgba(249, 246, 246);
  height: 1700px;
}

@media screen and (max-width: 1180px) {
  .bg-grey-pc {
    margin-left: -80px;
  }
}

@media screen and (max-width: 899.9px) {
  .bg-grey-pc {
    display: none;
  }
}

.bg-grey-md {
  width: 100vw;
  margin-left: -3vw;
  background-color: rgba(249, 246, 246);
  height: 1899.9px;
}

@media screen and (max-width: 599.9px) {
  .bg-grey-md {
    display: none;
  }
}

@media screen and (min-width: 766.9px) {
  .bg-grey-md {
    width: 100vw;
    margin-left: -10vw;
  }
}

@media screen and (min-width: 821.9px) {
  .bg-grey-md {
    width: 100vw;
    margin-left: -9.5vw;
  }
}

@media screen and (min-width: 849.9px) {
  .bg-grey-md {
    width: 100vw;
    margin-left: -9.25vw;
  }
}

@media screen and (min-width: 899.9px) {
  .bg-grey-md {
    display: none;
  }
}

.bg-grey-sp {
  width: 101vw;
  margin-left: -4vw;
  background-color: rgba(249, 246, 246);
  height: 1800px;
}

@media screen and (min-width: 599.9px) {
  .bg-grey-sp {
    display: none;
  }
}

@media screen and (max-width: 489.9px) {
  .bg-grey-sp {
    width: 100vw;
    height: 1700px;
    margin-left: -4vw;
  }
}

/* transform */
.l-footer.open, .contents.open {
  transform: translateX(0%) !important;
}

/* ユーティリティ */
/* ユーティリティ - display */
@media screen and (max-width: 899.9px) {
  .smhidden {
    display: none;
  }
}

/* ユーティリティ - margin */
.mt120 {
  margin-top: 120px !important;
}

.mt240 {
  margin-top: 240px !important;
}

.mnone {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mb40 {
  margin-bottom: 120px !important;
}

.ml45 {
  margin-left: 15vw;
}

@media screen and (max-width: 780px) {
  .smmt-36 {
    margin-top: -60px !important;
  }
}

@media screen and (max-width: 489.9px) {
  .spmt-25 {
    margin-top: -54px !important;
  }
}

@media screen and (max-width: 899.9px) {
  .spmt220 {
    margin-top: 220px !important;
  }
}

@media screen and (min-width: 599.9px) {
  .mlminus5 {
    margin-left: -5vw;
  }
}

/* ユーティリティ - padding */
.pt60 {
  padding-top: 60px;
}

.pb30 {
  padding-bottom: 30px;
}

/* ユーティリティ - サイズ */
.size-full {
  max-width: 50vw !important;
  margin-left: auto;
  margin-right: auto;
}

.minwidth250 {
  min-width: 250px;
}

.minwidth300 {
  min-width: 300px;
}

.u-width-col-2 {
  max-width: 100% !important;
}

/* ユーティリティ - テキスト */
.lineheight36 {
  line-height: 36px;
}

.text-15em {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 899.9px) {
  .text-15em {
    font-size: 1.5em;
  }
}

.text-1em {
  font-size: 1.5em;
  font-weight: bold;
}

@media screen and (max-width:489.9px) {
  .sptext-17 {
    font-size: 17px;
  }
}

@media screen and (max-width:599.9px) {
  .sptext-15 {
    font-size: 14px !important;
  }
}

/* ユーティリティ - その他 */
.cursor-pointer {
  cursor: pointer;
}