@charset "UTF-8";
/**
 * フロント側のCSSを記述する
 */

/* ファーストビューの設定 */
.p-fv {
  background-image: url('./../img/fv.jpg');
  background-size: cover;
  height: 100vh;
}

.p-fv__wrapper {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-fv__box {
  z-index: 50;
  position: absolute;
  background-color: #D73200;
  width: 250px;
  height: 60vh;
  min-height: 600px;
  top: 0;
  left: -40px;
}

.p-fv__phrase {
  z-index: 100;
  position: absolute;
  font-size: 1.5rem;
  color: #FFF;
  line-height: 3em;
  top: 300px;
}
